<head>
    <meta charset="UTF-8">
    <title>Crear tarea</title>
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link type="text/css" rel="stylesheet" href="../css/bulma.min.css" >
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
</head>
<body>

<section class="section">
    <div class="columns is-mobile">
        <div class="column"></div>
        <div class="column">
            <div class="container">
                <div class="notification">
                    <h1 class="title is-center">Nuevo examen </h1>
                    <form>
                        <div class="field">
                            <div class="control">
                                <input class="input is-info" type="text" placeholder="Ingrese nombre">
                            </div>
                        </div>
                        <div class="field">
                            <div class="control">
                                Hora:
                                <input type="text"> -
                                <input type="text">
                            </div>
                        </div>
                        <div>
                            Día:
                            <input type="date">
                        </div>
                        <br>
                        <div class="field">
                            <div class="control">
                                Curso:
                                <div class="select is-info">
                                    <select>
                                        <option value="curso1">Curso 1</option>
                                        <option value="curso2">Curso 2</option>
                                        <option value="curso3">Curso 3</option>
                                        <option value="curso4">Curso 4</option>
                                    </select>
                                </div>
                            </div>
                        </div>


                        <div>
                            <input type="checkbox"> Privado
                        </div>
                        <div>
                            <button class="button is is-info">Aceptar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="column"></div>
    </div>
</section>

</body>
</html>